@page "/Team/Detail"

<section class="profile-section">
    <!-- IMAGE -->
    <div class="profile-image">
        <img src="/Images/img_1.png">
    </div>

    <!-- INFO -->
    <div class="profile-info">
        <h1>Salut, Je suis JEFFREY.</h1>
        <h2>Creative Leader</h2>
        <p>
            Adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>

        <ul>
            <li><i class="fas fa-phone"></i> Phone: <a href="tel:+22700000000">+227 00 00 00 00</a></li>
            <li><i class="fas fa-envelope"></i> Email: <a href="mailto:jeffreybrown.com">info@jeffreybrown.com</a></li>
            <li><i class="fas fa-map-marker-alt"></i> Boukoki - Niamey, Niger</li>
        </ul>

        <NavLink class="btn-back text-center" href="team">RETOUR</NavLink>
    </div>
</section>



@code {

}
