@page "/Team"



<div class="team-page">
    <!-- Team Section -->
    <section class="team-section">
        <div class="container">
            <h2 class="mb-3">Our Team</h2>
            <p class="mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br> Excepteur sint occaecat cupidatat non proident</p>

            <div class="row justify-content-center g-5">
                <!-- Member 1 -->
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="team-member">
                        <img src="images/img_1.png">
                        <div class="team-info">
                            <NavLink href="team/detail">
                                <h5>JEFFREY BROWN</h5>
                            </NavLink>
                            <small>Creative Leader</small>
                            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>

                <!-- Member 2 -->
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="team-member">
                        <img src="https://www.slazzer.com/blog/wp-content/uploads/2022/11/Professional-Profile-Picture-1.jpg" alt="Alex Greenfield">
                        <div class="team-info">
                            <h5>ALEX GREENFIELD</h5>
                            <small>programming guru</small>
                            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>

                <!-- Member 3 -->
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="team-member">
                        <img src="https://images.unsplash.com/photo-1592520113018-180c8bc831c9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Linda Larson">
                        <div class="team-info">
                            <h5>LINDA LARSON</h5>
                            <small>manager</small>
                            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>
                <!-- Member 4 -->
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="team-member">
                        <img src="https://images.unsplash.com/photo-1666867540898-aaa1993ffabc?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Ann Richmond">
                        <div class="team-info">
                            <h5>ANN RICHMOND</h5>
                            <small>sales manager</small>
                            <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
